<ion-header no-border>
  <ion-navbar color="header">
    <ion-title text-center>{{"Avaliação e Feedback" | translate}}
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close" style="color: #fff; font-size: 20px; margin: 16px;"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="review-page">
  <ion-spinner *ngIf="!reviews" name="crescent"></ion-spinner>

  <div *ngIf="reviews">
    <div class="review-info">
      <ion-row>
        <ion-col style="border-right: 1px solid #f1f1f1;max-width:36%">
          <h2 *ngIf="rating">{{rating  | number : '1.1-1'}}<span style="font-size: 15px; color: #999">/5</span></h2>
          <h2 *ngIf="!rating">0<span style="font-size: 15px; color: #999">/5</span></h2>
          <h3 style="font-size:15px">
            <span class="rating review-star">
              <span class="star-icon" [ngClass]="{full: rating >= 1, half: rating == 0.5}">&#x2605;</span>
              <span class="star-icon" [ngClass]="{full: rating >= 2, half: rating == 1.5}">&#x2605;</span>
              <span class="star-icon" [ngClass]="{full: rating >= 3, half: rating == 2.5}">&#x2605;</span>
              <span class="star-icon" [ngClass]="{full: rating >= 4, half: rating == 3.5}">&#x2605;</span>
              <span class="star-icon" [ngClass]="{full: rating >= 5, half: rating == 4.5}">&#x2605;</span>
            </span>
          </h3>
          <h3 style="margin-top: 0px;">
            <span style="font-size: 14px;">{{count}} {{"Classificações" | translate}}</span>
          </h3>
        </ion-col>

        <ion-col class="review-star-group">
          <ion-row>
            <ion-col style="max-width:35%">
              <h3 style="margin-top:6px;">
                <span class="rating review-star">
                  <span class="star-icon full">&#x2605;</span>
                  <span class="star-icon full">&#x2605;</span>
                  <span class="star-icon full">&#x2605;</span>
                  <span class="star-icon full">&#x2605;</span>
                  <span class="star-icon full">&#x2605;</span>
                </span>
              </h3>
            </ion-col>
            <ion-col style="max-width:45%">
              <div class="progress-bar" item-right>
                <span [style.width]="count5Percentage"></span>
              </div>
            </ion-col>
            <ion-col style="max-width:20%">
              <h4 item-right>
                <span>{{count5 | number : '1.0-0'}}</span>
              </h4>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col style="max-width:35%">
              <h3 style="margin-top:6px;">
                 <span class="rating review-star">
                   <span class="star-icon full">&#x2605;</span>
                   <span class="star-icon full">&#x2605;</span>
                   <span class="star-icon full">&#x2605;</span>
                   <span class="star-icon full">&#x2605;</span>
                   <span class="star-icon">&#x2605;</span>
                 </span>
              </h3>
            </ion-col>
            <ion-col style="max-width:45%">
              <div class="progress-bar" item-right>
                <span [style.width]="count4Percentage"></span>
              </div>
            </ion-col>
            <ion-col style="max-width:20%">
              <h4 item-right>
                <span>{{count4 | number : '1.0-0'}}</span>
              </h4>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col style="max-width:35%">
              <h3 style="margin-top:6px;">
                <span class="rating review-star">
                  <span class="star-icon full">&#x2605;</span>
                  <span class="star-icon full">&#x2605;</span>
                  <span class="star-icon full">&#x2605;</span>
                  <span class="star-icon">&#x2605;</span>
                  <span class="star-icon">&#x2605;</span>
                 </span>
              </h3>
            </ion-col>
            <ion-col style="max-width:45%">
              <div class="progress-bar" item-right>
                <span [style.width]="count3Percentage"></span>
              </div>
            </ion-col>
            <ion-col style="max-width:20%">
              <h4 item-right>
                <span>{{count3 | number : '1.0-0'}}</span>
              </h4>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col style="max-width:35%">
              <h3 style="margin-top:6px;">
               <span class="rating review-star">
                 <span class="star-icon full">&#x2605;</span>
                 <span class="star-icon full">&#x2605;</span>
                 <span class="star-icon">&#x2605;</span>
                 <span class="star-icon">&#x2605;</span>
                 <span class="star-icon">&#x2605;</span>
               </span>
              </h3>
            </ion-col>
            <ion-col style="max-width:45%">
              <div class="progress-bar" item-right>
                <span [style.width]="count2Percentage"></span>
              </div>
            </ion-col>
            <ion-col style="max-width:20%">
              <h4 item-right>
                <span>{{count2 | number : '1.0-0'}}</span>
              </h4>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col style="max-width:35%">
              <h3 style="margin-top:6px;">
                <span class="rating review-star">
                  <span class="star-icon full">&#x2605;</span>
                  <span class="star-icon">&#x2605;</span>
                  <span class="star-icon">&#x2605;</span>
                  <span class="star-icon">&#x2605;</span>
                  <span class="star-icon">&#x2605;</span>
                </span>
              </h3>
            </ion-col>
            <ion-col style="max-width:45%">
              <div class="progress-bar" item-right>
                <span [style.width]="count1Percentage"></span>
              </div>
            </ion-col>
            <ion-col style="max-width:20%">
              <h4 item-right>
                <span>{{count1 | number : '1.0-0'}}</span>
              </h4>
            </ion-col>
          </ion-row>

        </ion-col>
      </ion-row>
    </div>

    <ion-card>
      <ion-card-header style="background-color: #f5f5f5" tappable (click)="showSubmitReview()">
        {{"Adicionar comentário" | translate}}
        <ion-icon *ngIf="!showAddReview" style="float: right" name="ios-arrow-down" item-right></ion-icon>
        <ion-icon *ngIf="showAddReview" style="float: right" name="ios-arrow-up" item-right></ion-icon>
      </ion-card-header>

      <ion-card-content>
        <div class="new-review" *ngIf="showAddReview">
          <ion-label style="margin: 10px 0 6px 26px; font-size:13px">{{form.name}}
            <span style="margin-right: 10px" text-uppercase>{{"Sua avaliação" | translate}}</span>
            <span class="rating review-star">
              <span tappable (click)="yourRating(1)" class="star-icon" [ngClass]="{full: form.rating >= 1, half: form.rating == 0.5}">&#x2605;</span>
              <span tappable (click)="yourRating(2)" class="star-icon" [ngClass]="{full: form.rating >= 2, half: form.rating == 1.5}">&#x2605;</span>
              <span tappable (click)="yourRating(3)" class="star-icon" [ngClass]="{full: form.rating >= 3, half: form.rating == 2.5}">&#x2605;</span>
              <span tappable (click)="yourRating(4)" class="star-icon" [ngClass]="{full: form.rating >= 4, half: form.rating == 3.5}">&#x2605;</span>
              <span tappable (click)="yourRating(5)" class="star-icon" [ngClass]="{full: form.rating >= 5, half: form.rating == 4.5}">&#x2605;</span>
            </span>
          </ion-label>

          <div class="comment-form">
            <form #f="ngForm">
              <ion-list>
                <ion-item *ngIf="!values.isLoggedIn">
                  <ion-input required type="text" [(ngModel)]="form.author" name="name" placeholder="{{'Name' | translate}}">
                  </ion-input>
                </ion-item>
                <ion-item *ngIf="!values.isLoggedIn">
                  <ion-input required type="email" [(ngModel)]="form.email" name="email" placeholder="{{'Email' | translate}}">
                  </ion-input>
                </ion-item>
                <ion-item class="comment-area">
                  <textarea rows="2" style="width: 100%; border: none;" required type="text" [(ngModel)]="form.comment" name="comment" placeholder="{{'Comente' | translate}}">
                  </textarea>
                </ion-item>
              </ion-list>
              <div class="login-button">
                <button style="margin: 16px 16px 0 16px;width: calc(100% - 32px);" ion-button block color="button-color" type="submit" text-uppercase [disabled]="buttonSubmitLogin" (click)="submitComment()">{{"Enviar" | translate}}
                </button>
              </div>
            </form>
          </div>

        </div>
      </ion-card-content>
    </ion-card>


    <ion-card *ngIf="reviews.length">
      <ion-card-header style="background-color: #f5f5f5;">
        {{"Feedbacks" | translate}}
      </ion-card-header>

      <ion-card-content>
        <div  *ngFor="let item of reviews" class="reviews">
          <ion-item no-lines>
            <ion-avatar item-start style="margin:8px">
              <img src="https://www.gravatar.com/avatar/{{item.avatar}}">
            </ion-avatar>
            <h3 style="margin-bottom:6px;font-size:15px">{{item.name}}
              <span class="rating review-star">
                <span class="star-icon" [ngClass]="{full: item.rating >= 1, half: item.rating == 0.5}">&#x2605;</span>
                <span class="star-icon" [ngClass]="{full: item.rating >= 2, half: item.rating == 1.5}">&#x2605;</span>
                <span class="star-icon" [ngClass]="{full: item.rating >= 3, half: item.rating == 2.5}">&#x2605;</span>
                <span class="star-icon" [ngClass]="{full: item.rating >= 4, half: item.rating == 3.5}">&#x2605;</span>
                <span class="star-icon" [ngClass]="{full: item.rating >= 5, half: item.rating == 4.5}">&#x2605;</span>
              </span>
            </h3>

            <h3 style="color:#9e9898;margin-bottom:4px;font-size: 13px">{{item.date_created | date:'MMM d, y hh:mm a'}}
            </h3>
          </ion-item>
          <p text-wrap>{{item.review}}</p>
        </div>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
