<ion-header no-border>
    <ion-navbar color="header">
        <button ion-button menuToggle>
            <ion-icon name="menu"> </ion-icon>
        </button>
        <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)"> </ion-searchbar>
    </ion-navbar>
</ion-header>
<ion-content class="search-page">
    <div *ngIf="products" class="products-listing">
        <div *ngIf="!products.length" class="no-products">
            <h2>{{"Nenhum produto encontrado!" | translate}}</h2> </div>
        <div *ngIf="products.length">
            <div *ngIf="values.listview">
                <ion-item no-lines class="item-name">
                    <ion-label>{{"Procurar Resultados" | translate}} </ion-label>
                    <button ion-button icon-only item-right clear color="button-color" (click)="setGridView()">
                        <ion-icon ios="ios-grid" md="md-grid"> </ion-icon>
                    </button>
                </ion-item>
                <div class="item-list" *ngFor="let item of products">
                    <ion-item class="left-padding" no-lines>
                        <ion-thumbnail item-left class="stock-list"> <img tappable (click)="getProduct(item.id)" src="{{item.images[0].src}}">
                            <button class="no-stock-button" ion-button *ngIf="!item.in_stock">{{"Sem estoque" | translate}} </button>
                        </ion-thumbnail>
                        <div class="product-name-top">
                            <div class="product-label">
                                <div tappable (click)="getProduct(item.id)" class="max-lines">
                                    <h2 *ngIf="item.title">{{item.title}}
                      </h2>
                                    <h2 *ngIf="item.name">{{item.name}}
                      </h2> </div>
                            </div>
                        </div>
                        <div> <span class="price-delete" *ngIf="item.sale_price">
                    <del>{{1*item.regular_price | currency:values.currency:true:'1.2-2'}}
                    </del>
                    </span> <span class="price-regular" *ngIf="!item.sale_price">{{1*item.price | currency:values.currency:true:'1.2-2'}}
                    </span> <span class="price-regular" *ngIf="item.sale_price">{{1*item.sale_price | currency:values.currency:true:'1.2-2'}}
                    </span> </div>
                        <h3 style="font-size:11px; margin: 3px 0">
                   <span class="rating review-star">
                   <span class="star-icon" [ngClass]="{full: item.average_rating >= 1, half: item.average_rating == 0.5}">&#x2605;</span>
                   <span class="star-icon" [ngClass]="{full: item.average_rating >= 2, half: item.average_rating == 1.5}">&#x2605;</span>
                   <span class="star-icon" [ngClass]="{full: item.average_rating >= 3, half: item.average_rating == 2.5}">&#x2605;</span>
                   <span class="star-icon" [ngClass]="{full: item.average_rating >= 4, half: item.average_rating == 3.5}">&#x2605;</span>
                   <span class="star-icon" [ngClass]="{full: item.average_rating >= 5, half: item.average_rating == 4.5}">&#x2605;</span>
                   </span>
                   </h3>
                        <div class="bottom-right-button">
                            <button ion-button [disabled]='!item.in_stock' text-uppercase color="button-color" item-right style="margin-right: 20px; border: 0; font-size: 14px" *ngIf="values.cart[item.id] == undefined || values.cart[item.id] == 0" (click)="addToCart(item.id, item.type)"> {{"Comprar" | translate}} </button>
                            <button ion-button icon-only item-right clear color="button-color" *ngIf="values.cart[item.id] >= 1" (click)="deleteFromCart(item.id)">
                                <ion-icon name="md-remove"> </ion-icon>
                            </button>
                            <button ion-button item-right color="button-color" clear style="border: 0;" *ngIf="values.cart[item.id] >= 1">{{values.cart[item.id]}} </button>
                            <button ion-button icon-only item-right clear color="button-color" *ngIf="values.cart[item.id] >= 1" (click)="updateToCart(item.id)">
                                <ion-icon name="md-add"> </ion-icon>
                            </button>
                        </div>
                        <div width-20 class="bottom-left-button">
                            <ion-icon name="md-heart" class="wishlist-button-fill" *ngIf="values.wishlistId[item.id]" (click)="removeFromWishlist(item.id)"></ion-icon>
                            <ion-icon name="md-heart-outline" class="wishlist-button" *ngIf="!values.wishlistId[item.id]" (click)="addToWishlist(item.id)"></ion-icon>
                        </div>
                    </ion-item>
                </div>
            </div>
            <div *ngIf="!values.listview">
                <ion-item no-lines class="item-name">
                    <ion-label>{{"Procurar Resultados" | translate}} </ion-label>
                    <button ion-button icon-only item-right clear color="button-color" (click)="setListView()">
                        <ion-icon ios="ios-list-box" md="ios-list-box"> </ion-icon>
                    </button>
                </ion-item>
                <div class="grid">
                    <ion-row class="row unlimited-items">
                        <ion-col class="col" *ngFor="let item of products">
                            <ion-card>
                                <ion-card-content class="stock"> <img tappable src="{{item.images[0].src}}" (click)="getProduct(item.id)">
                                    <button ion-button color="danger" *ngIf="!item.in_stock">{{"Sem estoque" | translate}} </button>
                                    <ion-icon name="md-heart" class="wishlist-button-grid1" *ngIf="values.wishlistId[item.id]" (click)="removeFromWishlist(item.id)"></ion-icon>
                                    <ion-icon name="md-heart-outline" class="wishlist-button-grid2" *ngIf="!values.wishlistId[item.id]" (click)="addToWishlist(item.id)"></ion-icon>
                                </ion-card-content>
                                <div tappable (click)="getProduct(item.id)" class="card-name">
                                    <ion-label *ngIf="item.title">{{item.title}} </ion-label>
                                    <ion-label *ngIf="item.name">{{item.name}} </ion-label>
                                </div>
                                <h3 style="font-size:11px; margin: 3px 0">
                   <span class="rating review-star">
                   <span class="star-icon" [ngClass]="{full: item.average_rating >= 1, half: item.average_rating == 0.5}">&#x2605;</span>
                   <span class="star-icon" [ngClass]="{full: item.average_rating >= 2, half: item.average_rating == 1.5}">&#x2605;</span>
                   <span class="star-icon" [ngClass]="{full: item.average_rating >= 3, half: item.average_rating == 2.5}">&#x2605;</span>
                   <span class="star-icon" [ngClass]="{full: item.average_rating >= 4, half: item.average_rating == 3.5}">&#x2605;</span>
                   <span class="star-icon" [ngClass]="{full: item.average_rating >= 5, half: item.average_rating == 4.5}">&#x2605;</span>
                   </span>
                   </h3>
                                <ion-label> <span class="price-delete" *ngIf="item.sale_price">
                    <del>{{1*item.regular_price | currency:values.currency:true:'1.2-2'}}
                    </del>
                    </span> <span class="price-regular" *ngIf="!item.sale_price">{{1*item.price | currency:values.currency:true:'1.2-2'}}
                    </span> <span class="price-regular" *ngIf="item.sale_price">{{1*item.sale_price | currency:values.currency:true:'1.2-2'}}
                    </span> </ion-label>
                                <div class="add-remove-button">
                                    <button ion-button [disabled]='!item.in_stock' text-uppercase color="button-color" item-right style="border: 0;" *ngIf="values.cart[item.id] == undefined || values.cart[item.id] == 0" (click)="addToCart(item.id, item.type)"> {{"Comprar" | translate}} </button>
                                    <button ion-button icon-only item-right clear color="button-color" *ngIf="values.cart[item.id] >= 1" (click)="deleteFromCart(item.id)">
                                        <ion-icon name="md-remove"> </ion-icon>
                                    </button>
                                    <button ion-button item-right color="button-color" style="border: 0; margin: 0 10px;" clear *ngIf="values.cart[item.id] >= 1">{{values.cart[item.id]}} </button>
                                    <button ion-button icon-only item-right clear color="button-color" *ngIf="values.cart[item.id] >= 1" (click)="updateToCart(item.id)">
                                        <ion-icon name="md-add"> </ion-icon>
                                    </button>
                                </div>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                </div>
            </div>
        </div>
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="has_more_items">
            <ion-infinite-scroll-content loadingSpinner="crescent" loadingText={{values.lan.GettingMoreElements}}> </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
</ion-content>
